{% extends "baselayout.html" %}
 
{% block content %}
<form action = "" method = "post" role = "form" class="form">
	<div class="row">
	<div class = "form-group col-lg-3">	
		<label class="control-label">Enter Product Barcode</label>
		<div {% if form.barcode.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.barcode(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="row">
	<div class = "form-group col-lg-3">
		<label class="control-label">Enter Product Name</label>
		<div {% if form.proname.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.proname(class="form-control") }} 
		</div>
	</div>
	</div>

	<div id = "manu-id">
	<div class="row">
	<div class = "form-group col-lg-3">
		<label class="control-label">Choose Manufacturer </label>
		<div {% if form.manufacturerId.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.manufacturerId(class="form-control") }} 
		</div>
	</div>
	</div>
	</div>
	
	<div id="manu-form">
	<div class="row">
	<div class="form-group col-lg-3">
		<label class="control-label">Enter Manufacturer Details</label>
		<div {% if form.manufacturerForm.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.manufacturerForm(class="form-control") }} 
		</div>
	</div>
	</div>
	</div>
	
	<div id = "cat-id">
	<div class="row">
	<div class = "form-group col-lg-3" >
		<label class="control-label">Choose Product category</label>
		<div {% if form.category.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.category(class="form-control date") }} 
		</div>
	</div>
	</div>
	</div>

	<div id = "cat-form">
	<div class="row">
	<div class = "form-group col-lg-3">
		<label class="control-label">Enter Category Details</label> 
		<div {% if form.categoryForm.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.categoryForm(class="form-control") }}
		</div>
	</div>
	</div>
	</div>

	<div class="row">
	<div class = "form-group col-lg-3">	
		<label class="control-label">Enter Product Price</label>
		<div {% if form.price.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.price(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="row">
	<div class = "form-group col-lg-3">
		<label class="control-label">Enter minimum stock</label>
		<div {% if form.minStock.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.minStock(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="row">
	<div class = "form-group col-lg-3">	
		<label class="control-label">Enter Cache Stock Qty</label>
		<div {% if form.cacheStockQty.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.cacheStockQty(class="form-control") }} 
		</div>
	</div>
	</div>
	<div class="row">
	<div class = "form-group col-lg-3">
		<label class="control-label">Enter Bundle Unit Value</label>
		<div {% if form.bundleUnit.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.bundleUnit(class="form-control") }} 
		</div>
	</div>
	</div>

	<div class="form-group">
		<input type="submit" value="Add Product" class="btn btn-success">
	</div>
</form>

<script src="{{ url_for('static',filename='js/addproduct.js') }}" type="text/javascript"></script> 
{% endblock %}