{% extends "baselayout.html" %}

{% block content %}
<div id="content" style="width:40%;float:right;" class="col-lg-3">
<h4>Enter one of the following City Country Pair</h4>
<table class="table table-hover table-bordered" >
	<thead>
	<tr class="active">
		<th> City </th>
		<th> Country </th>
	</tr>
</thead>
<tbody>
{% for city, country in citycountry %}
<tr>
    <td>{{ city }} </td>
    <td>{{ country }} </td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div id="formdetails" sytle="width:10%;float:left;" class="col-lg-7">
<form action="" method="post" name="registershop" role = "form" class="form">
	<div class="row">
	<div class = "form-group col-lg-5">	
		<label class="control-label">Enter Shop Id </label>
		<div {% if form.shopId.errors %} class = "has-error" {% else %} class="" {% endif %} >
			{{ form.shopId(class="form-control") }} 
		</div>
	</div>
	</div>
	<div id="citycountry">
		<div class="row">
		<div class = "form-group col-lg-5">	
			
			<label class="control-label" >Enter City </label>
			<div {% if form.city.errors %} class = "has-error" {% else %} class="" {% endif %} >
				{{ form.city(class="form-control") }} 
			</div>
		</div>
		</div>
		<div class="row">
		<div class = "form-group col-lg-5">	
			
			<label class="control-label" >Enter Country </label>
			<div {% if form.country.errors %} class = "has-error" {% else %} class="" {% endif %} >
				{{ form.country(class="form-control") }} 
			</div>
		</div>
		</div>
	</div>
		<div class="tohide">
		Enter LocationForm Details
		{{form.emformlocation}}
		</div>
	<div class="row">
		<div class = "form-group col-lg-5">	
			
			<label class="control-label" >Enter Address </label>
			<div {% if form.address.errors %} class = "has-error" {% else %} class="" {% endif %} >
				{{ form.address(class="form-control") }} 
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "form-group col-lg-5">	
			
			<label class="control-label" >Enter admin detail </label>
			<div {% if form.admin.errors %} class = "has-error" {% else %} class="" {% endif %} >
				{{ form.admin(class="form-control") }} 
			</div>
		</div>
	</div>
	<div class="row">
		<div class = "form-group col-lg-5">	
			
			<label class="control-label" >Enter contact Number </label>
			<div {% if form.contactNumber.errors %} class = "has-error" {% else %} class="" {% endif %} >
				{{ form.contactNumber(class="form-control") }} 
			</div>
		</div>
	</div>
	<div class="form-group">
		<input type="submit" value="Regsiter" class="btn btn-success">
	</div>

</form>
</div>
<script src="{{ url_for('static',filename='js/locationshop.js') }}" type="text/javascript"></script> 
{% endblock %}