{% extends "baselayout.html" %}
{% block content %}

<form action="" method = "post" >
	
	<div id="menuone"> 
	
	<h3> Shop Related </h3>
	<div> 
	{% for subfield in form.operations %}
	  {% if loop.index >=1 and loop.index <= 5 %}
		 <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>

    	</tr>
      {% elif loop.index > 5 %}
      	
	 {% endif %}
  	{% endfor %}
	</div>

	<h3> Inventory Related </h3>
	<div> 
	{% for subfield in form.operations %}
	  {% if loop.index >=6 and loop.index <= 13 %}
		 <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>

    	</tr>
      {% elif loop.index >10 %}
      	
	 {% endif %}
  	{% endfor %}
	</div>

	<h3> Transaction Related </h3>
	<div> 
	{% for subfield in form.operations %}
	  {% if loop.index >=14 and loop.index <= 15 %}
		 <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>

    	</tr>
      {% else %}
      	
	 {% endif %}
  	{% endfor %}
	</div>

	<h3> Other Currently </h3>
	<div> 
	{% for subfield in form.operations %}
	  {% if loop.index >15 %}
		 <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>

    	</tr>
      {% else %}
      	
	 {% endif %}
  	{% endfor %}
	</div>

	</div>	
	<br> 
	<div class="form-group">
	<input type = "submit" value="Submit" class="btn"></p>
	</div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static',filename='js/hq_shop_related.js') }}" type="text/javascript"></script> 
{% endblock %}