{% extends "baselayout.html" %}
 
{% block content %}

<table class="table table-hover table-bordered" id = "example">
<thead>
	<tr>
		<th> Barcode </th>
		<th> Price Sold </th>
		<th> Unit Sold </th>
		<th> ShopId </th>
		<th> TimeStamp </th>
	</tr>
</thead>
<tbody>
{% for transactionobj in alltransactions.items %}
<tr>
<td style="color:blue">{{ transactionobj.barcode }} </td>
<td>{{ transactionobj.priceSold }}  </td>
<td>{{ transactionobj.unitSold }}</td>
<td style="color:blue">{{ transactionobj.shopId }} </td>
<td style="color:blue">{{ transactionobj.timeStamps }} </td>
</tr>
{% endfor %}
</tbody>
{% if alltransactions.has_prev %}<a href="{{ url_for('view_all_transaction', page = alltransactions.prev_num) }}"><< Previous Page</a>{% else %}<< Previous Page{% endif %} | 
{% if alltransactions.has_next %}<a href="{{ url_for('view_all_transaction', page = alltransactions.next_num) }}">Next Page>></a>{% else %}Next Page >>{% endif %}
</table>

{% endblock %}