{% extends "baselayout.html" %}
 
{% block content %}

<form action = "" method = post>
<table class="table table-hover table-bordered">
<thead>
	<tr>
		<th> Shop ID </th>
		<th> City </th>
		<th> Country </th>
		<th> Address </th>
		<th> Admin </th>
		<th> Contact Number </th>
	</tr>
</thead>
<tbody>
<tr>
<td>{{ updateshopinfo.shopId }} </td>
<td>{{ updateshopinfo.city }}  </td>
<td>{{ updateshopinfo.country }}</td>
<td>{{ updateshopinfo.address }} </td>
<td>{{ updateshopinfo.admin }} </td>
<td>{{ updateshopinfo.contactNumber }} </td>
</tr>
</tbody>
</table>
	<div class="form-group">
		<input type="submit" value="Update Shop" class="btn btn-info">
	</div>
</form>
{% endblock %}