{% extends "baselayout.html" %}
 
{% block content %}

<form action = "" method = post>
<table class="table table-hover table-bordered">
<thead>
	<tr>
		<th> Barcode </th>
		<th> Name </th>
		<th> ManufacturerID </th>
		<th> Category </th>
		<th> Price </th>
		<th> Minimum Stock </th>
		<th> Cache Stock Quantity </th>
		<th> Bundle Unit </th>
	</tr>
</thead>
<tbody>
<tr>
	<td>{{ updateproductinfo.barcode }} </td>
	<td>{{ updateproductinfo.proname }}  </td>
	<td>{{ updateproductinfo.manufacturerId }}</td>
	<td>{{ updateproductinfo.category }} </td>
	<td>{{ updateproductinfo.price }} </td>
	<td>{{ updateproductinfo.minStock }} </td>
	<td>{{ updateproductinfo.cacheStockQty }} </td>
	<td>{{ updateproductinfo.bundleUnit }}  </td>
</tr>
</tbody>
</table>
<input type="submit" value="Update Product" class="btn btn-info">
</form>
{% endblock %}